<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="logo">
      <%= link_to root_path do %>
    <img class="logo" src="<%= asset_path('Logo.png') %>" alt="logo">
      <% end %>
    </div>

    <div class="container" id="menu">
      <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CookBook</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "New Recipes", new_recipe_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
       <li><%= link_to "Sign up", new_user_registration_path %></li>
       <li><%= link_to "Sign in", new_user_session_path %></li>
       <% else %>
       <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <%= current_user.email %>
  <% end %>

      </ul>
    </div>
  </nav>
    </div>


    <div id="main_content">
      <div id="header">



      </div>
      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
      <%= yield %>
    </div>

    <footer>
      <div class="container" id="footer">

        <h3>Find me</h3><br>

         <div class="btn-group">
           <button class="btn btn-warning"><a href="#">Twitter</a></button>
           <button class="btn btn-warning"><a href="#">Facebook</a></button>
           <button class="btn btn-warning"><a href="#">Email</a></button>
         </div>

      <% if !user_signed_in? %>
        <button type="button" class="btn btn-success btn-xs"><p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p></button>
        <% if current_page?(root_path) %>
        <p>All Recipes</p>
        <% elsif current_page?(about_path)%>
        <p>About</p>
        <% else %>
        <h3><%= link_to "Back to All Recipes", root_path %></h3>
        <% end  %>


      <% end %>
      </div>
    </footer>

  </body>
</html>
